server {
    listen 80;
    server_name globalindosimetrika.co.id www.globalindosimetrika.co.id;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name globalindosimetrika.co.id www.globalindosimetrika.co.id;

    ssl_certificate     /etc/nginx/ssl/globalindosimetrika.co.id/origin.crt;
    ssl_certificate_key /etc/nginx/ssl/globalindosimetrika.co.id/origin.key;

    # SSL optimization
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    root {{ deploy_dir }}/apps/globalindo-simetrika/dist;
    index index.html;

    # Redirect root to default language subdirectory
    location = / {
        return 301 /en/;
    }

    location / {
        try_files $uri $uri/ =404;
    }

    # Logging
    access_log /var/log/nginx/globalindo.access.log;
    error_log /var/log/nginx/globalindo.error.log;
}
