server {
    listen 80;
    server_name radar-ms.com www.radar-ms.com;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name radar-ms.com www.radar-ms.com;

    ssl_certificate     /etc/nginx/ssl/origin.crt;
    ssl_certificate_key /etc/nginx/ssl/origin.key;

    # SSL optimization
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    root /var/www/rms/public;
    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_pass php-ci4-rms:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    # Logging
    access_log /var/log/nginx/rms.access.log;
    error_log /var/log/nginx/rms.error.log;
}
